[submodule "src/public/app/themes/acre"]
	path = src/public/app/themes/acre
	url = git@github.com:kedwards/acre.git
[submodule "src/public/app/themes/understrap"]
	path = src/public/app/themes/understrap
	url = git@github.com:kedwards/understrap.git
[submodule "src/public/app/themes/ena"]
	path = src/public/app/themes/ena
	url = git@github.com:kedwards/ena-wp-theme.git
[submodule "src/public/app/themes/starter-theme"]
	path = src/public/app/themes/starter-theme
	url = git@github.com:kedwards/starter-theme.git
