#
# https://help.github.com/articles/ignoring-files
#
src/.env
src/public/app/mu-plugins/*
!src/public/app/mu-plugins/*.php
!src/public/app/mu-plugins/bedrock
!src/public/app/mu-plugins/livity
src/public/app/plugins/*
src/public/app/themes/*
#!src/public/app/themes/acre
!src/public/app/themes/theme-unit-test-data.xml
src/public/app/updraft
src/public/app/uploads
src/public/wp
vendor
!**/index.php
!**/.gitkeep
